@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
	margin: 0;
	padding: 0;
	width: 100%;
}

.clickable{
	cursor: pointer;
}

/*--------Header----------*/

.header{
	
	display: flex;
	justify-content: center;
	position: fixed;
	top: 20px;
	
}

.instructions{
	width: auto;
	padding: 10px;
	color: #FFFFFF;
	justify-content: center;
	text-align: center;
	position: relative;
	left: 30px;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	background: #4C26B8;

}

#dark-mode{
	margin-left: 50px;
	margin-top: 10px;
	font-size: 30px;
	color: #4C26B8;

}

.logo{
	position: fixed;
	left: 72%;
	font-family: 'Josefin Sans', sans-serif;
	right: 30px;
	font-size: 20px;
	margin-top: 10px;
}

#menu-bar{
	position: fixed;
	left: 95%;


}

.fa-bars{
	font-size: 25px;
	padding: 10px;
	color: #FFFFFF;
	background: linear-gradient(180deg, #832AF4 0%, rgba(80, 84, 186, 0.99) 100%);
	width: 30px;
	height: 30px;
	justify-content: center;
	text-align: center;
	border-radius: 100%;

}



/*--------Header-end----------*/


.main{
	display: flex;
	
}


/*-------------Canvas---------------*/
.sample{
	width: 50%;

}

.sample-content{
	width:600px;
	height: 600px;
	margin-left: 50px;
	margin-top: 100px;
}
/*-------------Canvas-END---------------*/


/*-------Right-side--------*/

.controls{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rowBtn-1{
	
	display: flex;
	justify-content: center;
	text-align: center;
}


.rowBtn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.row-content{
	display: flex;
	justify-content:center;
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}



#row-number{
	margin-left: 10px;
	padding: 10px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#col-number{
	margin-left: 10px;
	padding: 10px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.icon-back{
	font-size: 18px;
	padding: 10px;
	color: #FFFFFF;
	background:#221D1D;
	width: 20px;
	height: 20px;
	justify-content: center;
	text-align: center;
	border-radius: 10%;

}

.icon-back:hover{
	background:#4C26B8;
	transition: .5s;

}

.rowBtn-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}




.colorChange{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
	width: 200px;

	
}

.fa-circle{
	font-size: 30px;
	margin: 10px;
}

.fa-circle:hover{
	opacity: .7;
	transition: .5;
}

/*-------Right-side-END--------*/

/*-----Edit-section-------*/

.edit-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
	position: relative;
	margin-top: 10px;
}

.edit-back{
	font-size: 30px;
	height: 35px;
	width: 35px;
	border:solid 2px;
	padding: 10px;
	border-radius: 100%;
}

.edit-btn-content h5{
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}
/*-----Edit-section-end-------*/


.evaluate-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	width: 300px;
	height: 50px;
	background-color: #221D1D;
	color: #FFFFFF;
	margin-top: 30px;

}

.evaluate-btn:hover{
	background-color: #4C26B8;
	transition: 1s;
}


/*-------responsive--------*/


@media screen and (max-width: 1000px){

	#menu-bar{
	left: 90%;
}

.fa-bars{
	font-size: 40px;
	padding: 20px;
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

#dark-mode{
	font-size: 40px;

}


	.logo{
	position: fixed;
	left: 60%;
	font-size: 30px;
    }

	.controls{
		margin-top: 30px;
	}
	.main{
		flex-direction: column;

	}

	.sample{
		width: 100%;
	}

	.sample-content{

	width:100%;
	height: 50vh;
	margin-left: 0;
	margin-top: 100px;

	}





.row-content{
	
	font-size: 40px;
	
}



.icon-back{
	font-size: 50px;
	padding: 20px;
	color: #FFFFFF;
	background:#221D1D;
	width: 50px;
	height: 50px;
	align-items: center;

	
}

.icon-back:hover{
	background:#4C26B8;
	transition: .5s;

}

.rowBtn-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}




.colorChange{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
	width: 200px;

	
}

.fa-circle{
	font-size: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
	
}



.edit-back{
	font-size: 40px;
	height: 40px;
	width:40px;
	border:solid 2px;
	padding: 20px;
	border-radius: 100%;
}

.edit-btn-content h5{
	font-size: 35px;
	margin-top: 5px;
}

.evaluate-btn{
	
	font-size: 40px;
	width: 100%;
	height: 80px;
	margin-top: 20px;

}

	
}

