@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --num-cols: 29;
    --num-rows: 29;
    --min-size: 320px;
}

@layer base {
    @media only screen and (orientation: landscape) and (min-width: 768px) {
        .main-container {
            height: 100svh !important;
        }

        .canvas-wrapper {
            // Get the size for each dimension by multiplying the aspect ratio
            // by the maximum value of the other maximum dimension.
            // If is is too large, fall back to the maximum dimension.
            height: min(calc(100dvw * var(--num-rows) / var(--num-cols)),calc(100svh - 6rem));
            width: min(calc(calc(100svh - 6rem) * var(--num-cols) / var(--num-rows)), 100%);
        }
    }

    @media only screen and (orientation: portrait), only screen and (width < 768px) {
        .canvas-wrapper {
            // Get the size for each dimension by multiplying the aspect ratio
            // by the maximum value of the other maximum dimension.
            // If is is too large, fall back to the maximum dimension.
            height: min(calc(100dvw * var(--num-rows) / var(--num-cols)),calc(100svh - 6rem - 170px));
            width: min(calc(calc(100svh - 6rem - 170px) * var(--num-cols) / var(--num-rows)), 100%);
        }
    }

    body {
        @apply bg-zinc-100 dark:bg-zinc-900 text-zinc-950 dark:text-zinc-50;
        min-width: var(--min-size);
        min-height: var(--min-size);
    }

    .button-bg {
        @apply bg-zinc-900 dark:bg-zinc-100 text-zinc-50 dark:text-zinc-950 rounded-full;
    }

    .canvas-wrapper {
        @apply mx-auto;
        aspect-ratio: var(--num-cols) / var(--num-rows);

        .canvas {
            @apply w-full h-full;
        }
    }

    .palette {
        @apply flex text-center mt-8 mx-1;

        .swatch-group {
            @apply flex-auto;

            .swatch {
                @apply w-full inline-block text-3xl;
            }
            .swatch-label {
                @apply hidden md:landscape:inline-block;
            }
        }
    }

    .print-view {
        @apply hidden print:block text-black text-center;
        print-color-adjust: exact;

        .palette {
            @apply w-full flex;

            .swatch-group {
                @apply flex-auto;

                .swatch {
                    @apply mt-2 w-full inline-block;
                }
                .swatch-label {
                    @apply w-full inline-block;
                }
            }
        }

        .canvas-img {
            @apply break-after-page w-full;
        }

        .logo {
            @apply fixed bottom-0 right-0;
        }
    }
}