/**********************************************************************************************************************
 * Legal Stuff:
 *
 * Copyright Nick Overacker & Miho Kobayashi.
 * This code is offered under the Strict License 1.0.0 (https://polyformproject.org/licenses/strict/1.0.0/),
 * which permits users to use this code for noncommercial purposes but reserves most right for the copyright holders.
 * For uses not permitted under the license, please contact: nick.overacker@okstate.edu
 *********************************************************************************************************************/

@import "../../.bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
/*
@import "../../.bootstrap/functions";
@import "../../.bootstrap/variables";
@import "../../.bootstrap/variables-dark";
@import "../../.bootstrap/maps";
@import "../../.bootstrap/mixins";
@import "../../.bootstrap/utilities";
@import "../../.bootstrap/grid";
@import "../../.bootstrap/containers";
@import "../../.bootstrap/toasts";
@import "../../.bootstrap/offcanvas";
@import "../../.bootstrap/utilities/api";
*/

*:not(i) {
	//border: 1px solid gold;
}

i {
	box-sizing: content-box;
}

@media print {
	* {
		border: none;
		//border: 1px solid black;
		print-color-adjust: exact;
	}

	.print-layout {
		width: 100lvw;
		height: 100lvh;

		.color-change {
			margin-top: 0;
		}

		.print-logo {
			position: fixed;
			font-size: 3rem;
			height: 4rem;
			line-height: 4rem;

			img {
				height: 3.5rem;
				padding-left: 0.3rem;
				padding-bottom: 0.85rem;
			}
		}

		i {
			margin-top: 5px;
		}

		.print-table-container {
			page-break-before: always;
		}
	}

	@media (orientation: landscape) {
		.color-change {
			position: absolute;
			left: -2rem;
			display: inline-flex;
			flex-direction: column;
			width: 5rem;
			height: 100lvh;

			.print-color-label {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			span, i {
				display: block;
			}
		}

		.print-canvas {
			width: 100lvh;
			height: 100lvh;
			text-align: center;
			margin: 0 calc(50lvw - 50lvh);
		}

		.print-logo {
			width: 100lvh;
			bottom: 0;
			left: 100lvw;
			transform-origin: bottom left;
			transform: rotate(-90deg);
		}

		.print-table-container {
			width: 100lvh;
			transform-origin: top left;
			transform: rotate(-90deg) translateX(-100lvh);
		}
	}

	@media (orientation: portrait) {
		.color-change{
			display: flex;
			text-align: center;
			height: 4rem;

			.print-color-label {
				flex-grow: 1;
			}

			.fa-circle {
				margin-top: 5px;
				margin-bottom: 5px;
			}

			i, span {
				display: block;
			}
		}

		.color-change, .print-canvas, .print-logo {
			width: 100lvw;
		}

		.print-canvas {
			margin: calc(50lvh - 50lvw - 4rem) 0;
		}

		.print-logo {
			text-align: center;
			bottom: 0;
		}

		.print-table-container {
			width: 100%;
		}
	}
}

body * {
	user-select: none;
}

button.unstyled {
	background: none;
	border: none;
	padding: 0;
	color: inherit;
}

body {
	overflow-y: scroll;
}

.clickable {
	cursor: pointer;
}

.main-header {
	margin-top:    1rem !important;
	margin-bottom: 1rem;

	& * {
		font-size: 1.8rem;
	}

	.logo {
		flex:   0 0 auto;
		height: 68px;

		background-size:       contain;
		background-repeat:     no-repeat;
		background-position-x: center;
		background-position-y: center;
	}

	.main-header-btn {
		flex: 0 0 auto;

		i {
			color:           #FFFFFF;
			width:           48px;
			height:          48px;
			padding:         10px;
			font-size:       48px;
		}
	}

	@media only screen and (orientation: portrait),
	       only screen and (width < map-get($grid-breakpoints, "md")) {
		.logo {
			width: 50%;
		}

		.main-header-btn {
			width: 25%;
		}
	}

	@media only screen and (orientation: landscape)
	                   and (min-width: map-get($grid-breakpoints, "md")) {
		.logo {
			background-position-x: 12px;
			width: 83.33333333%;
		}

		.main-header-btn {
			width: 8.33333333%;
		}
	}
}

.offcanvas {
	@media only screen and (orientation: landscape) {
		top: 0;
		right: 0;
		border-left: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
		transform: translateX(100%);

		.close-button {
			text-align: left;
		}

		.fa-times {
			font-size: 2.5vw;
			padding: 2.5vw;
		}

		@media only screen and (orientation: landscape) {
		        @media (min-width: map-get($grid-breakpoints, "md")) {
				width: 33.33333333%;
			}

			@media (min-width: map-get($grid-breakpoints, "lg")) {
				width: 50%;
			}
		}
	}

	@media only screen and (orientation: portrait) {
		right: 0;
		left: 0;
		height: var(--#{$prefix}offcanvas-height);
		max-height: 100%;
		border-top: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
		transform: translateY(100%);

		.fa-times {
			font-size: 5vh;
			margin-left: auto;
			margin-right: auto;
			margin-top: 1vh;
			padding: 1vh;
			width: 5vh;
			height: 5vh;
		}
	}
}

.portrait-full-width {
	@media only screen and (orientation: portrait) {
		width: 100%;
	}
}

.fa-times {
	//color: #FFFFFF;
}

.controls {
	.color-change {
		display: flex;
		justify-content: center;
		text-align: center;

		.fa-circle {
			font-size: min(30px, 4dvw);
			padding: 9px;
			width: min(30px, 4dvw);
		}

		@media only screen and (orientation: landscape) {
			max-width: 290px;
			margin: 60px auto 0 auto;
			justify-content: space-between;
		}
	}

	@media only screen and (orientation: portrait) {
		.color-change {
			width: 100%;
			order: 0;
			margin: 0;

			.fa-circle {
				padding: 0;
				font-size: 4vh;
				margin: 2vh -1px 3vh -1px;
				width: 16.66666667%;
			}
		}

		.edit-back {
			font-size: 5.3vh;
			height: 5.3vh;
			width: 5.3vh;
			border: solid 2px;
			padding: 2.6vh;
			border-radius: 100%;
		}
	}
}

.canvas-row {
	height: calc(100svh - 50px - 2rem);

	canvas {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		touch-action: none;
		aspect-ratio: 1/1;
	}

	@media only screen and (orientation: landscape) {
		canvas {
			width: min(100%, calc(100svh - 68px - 2rem));
		}
	}

	@media only screen and (orientation: portrait) {
		.canvas-wrapper {
			display: flex;
			width: 100%;
			justify-content: center;
			padding: 0;

			canvas {
				width: min(62vh, 100vw);
				margin: auto;
			}
		}
	}
}

/*-----Edit-section-------*/

.edit-btn-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: relative;
	margin: 10px auto 0 auto;
	order: 2;

	.edit-btn-content {
		padding: 0;
	}

	@media only screen and (orientation: landscape) {
		max-width: 350px;

		.edit-btn-content {
			width: 50%;

			&.small {
				display: none;
			}
		}
	}
}

.edit-back {
	font-size: 2vw;
	height: 2vw;
	width: 2vw;
	border: solid 2px;
	padding: 1vw;
	border-radius: 100%;

	&.small {
		height: 2.6vh;
		width: 2.6vh;
		font-size: 2.6vh;
		padding: 1.3vh;
	}
}

.edit-btn-content h5 {
	font-size: 2vh;
	font-weight: bold;
	margin-top: 1vh;
	margin-bottom: 2vh;
}
/*-----Edit-section-end-------*/

table {
	border: 2px solid black;
	width: 100%;
	text-align: center;

	tr td {
		margin: auto;
		border: 1px solid black;
	}

	colgroup col.output-vals {
		border-left: 2px solid black;
	}

	thead {
		border: 2px solid black;
		font-weight: bold;

		td {
			border: none;
		}
	}
}

html[data-bs-theme="dark"] body {
	.logo {
		background-image: url("../images/logo-dark.svg");
	}

	.icon-back, .evaluate-btn {
		@extend .text-bg-light;
	}
}

html[data-bs-theme="light"] body {
	.logo {
		background-image: url("../images/logo-light.svg");
	}

	.icon-back, .evaluate-btn {
		@extend .text-bg-dark;
	}
}

/*-------Controls--------*/
.icon-back {
    font-size: 20px;
    padding: 10px;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
}

.rowBtn-1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.rowBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row-content {
    display: flex;
    justify-content:center;
    text-align: center;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#row-number {
    margin-left: 10px;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#col-number {
    margin-left: 10px;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.rowBtn-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.evaluate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    width: 300px;
    height: 50px;
    margin: 30px auto 0 auto;
    order: 5;
}

/*-------Controls-END--------*/

