@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

:root {
    --num-cols: 29;
    --num-rows: 29;
    --min-size: 320px;
    font-family: "Josefin Sans", sans-serif;
}

@layer base {
    @media not print {
        .cast-shadow {
            @media only screen and (orientation: landscape) and (width < 1024px) {
                text-shadow: 1px 1px 2px #fafafa, 0 0 1em #f4f4f5, 0 0 0.2em #e4e4e7;
            }
        }

        .dark .cast-shadow {
            @media only screen and (orientation: landscape) and (width < 1024px) {
                text-shadow: 1px 1px 2px #09090b, 0 0 1em #18181b, 0 0 0.2em #27272a;
            }
        }

        @media only screen and (orientation: landscape) {
            .main-container {
                height: 100lvh;
            }

            .canvas-wrapper {
                height: min(calc(100dvw * var(--num-rows) / var(--num-cols)),calc(100lvh - 6rem));
                width: min(calc(calc(100lvh - 6rem) * var(--num-cols) / var(--num-rows)), 100%);
            }
        }

        @media only screen and (orientation: portrait) {
            .canvas-wrapper {
                height: min(calc(100dvw * var(--num-rows) / var(--num-cols)),calc(100lvh - 6rem - 170px));
                width: min(calc(calc(100lvh - 6rem - 170px) * var(--num-cols) / var(--num-rows)), 100%);
            }
        }

        body {
            @apply bg-zinc-100 dark:bg-zinc-900 text-zinc-950 dark:text-zinc-50 xl:bg-red-950;
            min-width: var(--min-size);
            min-height: var(--min-size);
        }

        .button-bg {
            @apply bg-zinc-900 dark:bg-zinc-100 text-zinc-50 dark:text-zinc-950 rounded-full text-4xl p-4 landscape:flex md:landscape:items-center max-lg:landscape:rounded-none max-lg:landscape:py-16 max-lg:landscape:px-2 max-lg:landscape:text-2xl max-lg:landscape:h-36 cursor-pointer;
        }

        .canvas-wrapper {
            @apply mx-auto z-40 lg:landscape:ml-4;
            aspect-ratio: var(--num-cols) / var(--num-rows);

            .canvas {
                @apply w-full h-full;
            }
        }

        .swatch-group {
            @apply flex-auto flex items-center;

            .swatch {
                @apply w-full inline-block text-3xl max-lg:landscape:rounded-l-full max-lg:landscape:bg-current md:max-lg:landscape:w-24;
            }
            .swatch-label {
                @apply hidden md:max-lg:landscape:inline md:max-lg:landscape:absolute md:max-lg:landscape:right-2 md:max-lg:landscape:z-10 md:max-lg:landscape:text-sm pointer-events-none;
                @extend .cast-shadow;
            }
        }
    }

    .main-control-label {
        @apply hidden landscape:block max-lg:landscape:bg-zinc-900 max-lg:landscape:dark:bg-zinc-100 max-lg:landscape:text-zinc-50 max-lg:landscape:dark:text-zinc-950 max-lg:landscape:flex max-lg:landscape:justify-center max-lg:landscape:px-2 max-lg:landscape:text-2xl max-lg:landscape:h-36 max-lg:landscape:cursor-pointer;

        @media only screen and (orientation: landscape) and (width < 1024px) {
            writing-mode: vertical-lr;
        }
    }

    .evaluate-btn {
        @apply z-40 rounded-none;

        @media only screen and (orientation: landscape) and (width < 1024px) {
            writing-mode: vertical-lr;
        }
    }

    .print-view {
        @apply hidden print:block text-black text-center;
        print-color-adjust: exact;

        .swatch-group {
            @apply flex-auto;

            .swatch {
                @apply mt-2 w-full inline-block;
            }
            .swatch-label {
                @apply w-full inline-block;
            }
        }

        .canvas-img {
            @apply break-after-page w-full;
        }

        .logo {
            @apply fixed bottom-0 right-0;
        }
    }
}