@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

#qrcode-menu img {
    max-width: min(100vw, 70vh);
    max-height: min(100vw, 70vh);
    margin: auto;
}

ul.sparse li {
    margin-bottom: 5vh;
}

.package-name {
    display: block;
}

.package-link {
    text-decoration: underline;
    font-size: large;
}

.glowing {
    animation: glowing-animation 0.60s infinite alternate;
}

.rounded {
    border-radius: 100%;
}

@keyframes glowing-animation {
    from {
        box-shadow: 0 0 10px -10px #d4af37;
    }
    to {
        background-color: #d4af37;
        box-shadow: 0 0 10px 10px #d4af37;
    }
}

.tutorial-overlay {
    position: absolute;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: auto;
    max-width: 300px;
    animation: bouncy 0.8s infinite alternate;
    animation-delay: 0.2s;
}

@keyframes bouncy {
    from { transform: scale(1) }
    to { transform: scale(0.9) }
}

.menu-long-text li::before {
    position: relative;
    left: -10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    content: '';
    border-radius: 100%;
    background: #6532F5;
}

.menu-long-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: min(90vw, 600px);
    color: #221D1D;
    background-color: rgba(255,255,255,.9);
    border-radius: 30px;
    padding: 20px;

}

.menu-long-text h1 {
    margin-bottom: 3vh;
    color: #221D1D;
    border-radius: 30px;
    text-align: center;
}

.menu-long-text li {
    width: 90%;
    list-style: none;
    padding-bottom: 1vh;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
}

.menu-long-text span{
    font-size: 14px;
    font-weight: 600;

}

#palette-setting, #transparency-setting {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-radius: 30px;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: inherit;
    color: inherit;
}




/*---------Main-Menu------------*/
li{
    list-style: none;
}

li.clickable {
    font-size: 3vh !important;
}

.inline {
    display: inline;
}

.menu{
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: rgb(76,38,184);
    position: fixed;
    top: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.scrollable {
    overflow-y: auto;
    height: 100%;
}

.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    align-items: center;
    width: auto;
}

.menu-content li{
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
   
}

.menu-btn-content{
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #FFFFFF;
    text-align: center;
}

.menu-btn-content h1 {
    font-size: 2.5vh;
}

.teacher-btn{
    background-color: rgba(0,0,0,.9);
    padding: 2vh;
    margin-top: 4vh;
    width: auto;
}

.box-btn{
    padding: 2vh;
    margin: 2vh;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    width: auto;
}

.box-btn.options-btn {
    border:solid 2px #221D1D;
    background-color: #221D1D;
    margin-top: 1vh;
    margin-bottom: 0;
}

.menu-text{
    font-size: 18px;
}

.menu-text span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

/*-------------------------------*/


.no-controls .controls, .closed {
    display: none;
}

.no-controls .canvas-group {
    width: 100%;
    margin-left: 0;
}

.no-controls .canvas-wrapper {
    width: 100%;
    height: min(85vh,100vw);
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    width: auto;
    padding: 10px;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 30px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    background: #4C26B8;
}

